:root {
  --white: #fff;
  --black: #000;

  --gray-50: #f9f9f9;
  --gray-100: #f4f4f4;
  --gray-200: #d9d9d9;
  --gray-300: #979797;
  --gray-400: #717171;
  --gray-500: #393939;

  --background: var(--gray-900);
  /* --forground: var(--gray-50); */
  --border-color: var(--gray-700);
  --border-thickness: 0.5px;

  --blue: #0760fb;
  --dodgerblue: #4b8dff;
  --lightblue: #e2ebfa;

  --rounded-none: 0;
  /* --rounded-xs: 2px; */
  --rounded-sm: 6px;
  --rounded-md: 12px;
  /* --rounded-lg: 8px;  */
  --rounded-full: 9999px;
}
