@import url('@/styles/_theme.css');

.component {
  .title {
    text-align: center;
    color: var(--title, #00050e);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 44px 0 8px 0;
  }

  .time {
    color: var(--gray-400, #717171);
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }
}
